div.display_bar {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    margin-bottom: 20px;
}


.search-bar, .display-bar select, .display-bar input[type=range] {
    flex: 1; 
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
    outline: none;
    margin: 5px;
    max-width: 220px;
}


div.prices {
    flex: 100%; 
    justify-content: center;
    display: flex;
    margin: 5px 0;
}

div.display_bar_child {
    display: flex;
    align-items: center;
    width: 100%; 
}


@media (max-width: 720px) {
    div.display_bar {
        flex-direction: column;
        align-items: center;
    }

    .search-bar, .display-bar select, .display-bar input[type=range] {
        width: 90%;
        margin: 10px 0;
    }
    div.display_bar_child {
        flex-direction: column; 
    }
}

@media screen and (max-width: 502px) {
    thead.headings, table th {
        font-size: 12px; 
    }

    table {
        overflow-x: auto;
        white-space: nowrap;
        align-items: center;
    }

    .jersey-grid {
        padding: 0;
        margin: 0;
    }
}
